// .sin-pendientes {
//     margin-top: 50%;
//     transform: translateY(-30%);
// }
.sun-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.icono-sun {
    font-size: 5em;
}

.sun-container>ion-col {
    padding: 3em;
    text-align: center;
}